{% include header.html %}

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
              <h1>{{ page.title }}</h1>
              
        </div>

      </div>

      <div class="row">
          <div class="col-xs-12 col-sm-2 sidebar">
            <ul>
                <li><a href="/work-samples/">work samples</a></li>
                <li><a href="/about/">about me</a></li>
              </ul>
          </div>

          <div class="col-xs-12 col-sm-10">
            <div class="row features">
              <div class="col-xs-12 col-sm-6" id="agtc">
                <a title="an artist's guide to computation is my weekly newsletter on creative coding and technology-focused art - u should sign up!" href="https://artistsguidetocomputation.substack.com" target="_blank"><img alt="An Artist's Guide to Computation" src="/assets/images/agtc.svg"></a>
              </div>

              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-4 coming-soon" id="postcard-club">
                <img alt="Postcard Club" src="/assets/images/postcardclub.svg">
              </div>

              <div class="col-xs-offset-1 col-xs-8 col-sm-offset-3 col-sm-6 coming-soon" id="white-page">
                <img title="beginning in Jan 2020 I will be hosting digital works here! email me @ info@marthahipley.com if you would like to be considered." alt="White Page Gallery" src="/assets/images/whitepage.svg">
              </div>              

            </div>

          </div>

      </div>
    </div>
  </body>

{% include footer.html %}